<!-- begin #home -->
<div id="home" class="content has-bg home">
  <!-- begin content-bg -->
  <div
    class="content-bg"
    style="background-image: url(/static/assets/decires_img/portada_png.png)"
    data-paroller="true"
    data-paroller-factor="0.5"
    data-paroller-factor-xs="0.25"
  ></div>
  <!-- end content-bg -->
  <!-- begin container -->
  <div class="container home-content">
    <h1 class="text-inverse" style="color: white;">{{ site_name }}</h1>

    {% comment %} {% endcomment %}
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <form class="form-inline">
            <div class="form-group m-r-10">
              <select class="default-select2 form-control" id="profesionales">
                <option value="" selected>Profesionales</option>
              </select>
            </div>
            <!--  -->
            <div class="form-group m-r-10">
              <select class="default-select2 form-control" id="select_modalidad">
                <option value="" selected>Modalidad</option>
                <option value="PRESENCIAL">Presencial</option>
                <option value="VIRTUAL">Virtual</option>
                <option value="DOMICILIO">Domicilio</option>
              </select>
            </div>
            <!--  -->
            <div class="form-group m-r-10" id="ciudad">
              <select class="default-select2 form-control" id="select_ciudad">
                <option value="" selected>Ciudad</option>
              </select>
            </div>
            <!--  -->
            <div class="form-group m-r-10" id="zona">
              <select class="default-select2 form-control" id="select_zona">
                <option value="" selected>Zonas</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <a href="javascript:;" onclick="searchProffessional();" class="btn btn-theme btn-primary"
            >¿Necesitas ser escuchado por un profesional? &nbsp;
            <i class="fa fa-search"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- end #home -->

<!-- begin #about -->
<div id="about" class="content text-center" data-scrollview="true">
  <!-- begin container -->
  <div class="container" data-animation="true" data-animation-type="fadeInDown">
    <h2 class="content-title">Nuestra Historia</h2>
    <!-- begin row -->
    <div class="row justify-content-center">
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <!-- begin about -->
        <div class="about">
          <p>
            Decires comenzó hace más de 10 años como un Centro de Formación en psicoanálisis,
            capacitando de manera continua, con excelencia y personalización en distintos niveles.
            Actualmente estamos en expansión, incluyendo una plataforma digital para ampliar nuestra
            red a profesionales psi de distintas disciplinas, fortaleciendo nuestros equipos y
            atendiendo la demanda actual de la sociedad. No somos simplemente una red más; somos un
            equipo de profesionales psi que no perdemos de vista el objetivo de nuestra ética
            profesional. Contamos con más de 25 años de trayectoria, siempre dedicados a la salud y
            la atención de pacientes.
          </p>
          <p>
            ¿Queres iniciar una terapia? ¿Necesitas ser escuchado por un profesional? Encuentra en
            nuestra red psidecires profesionales psi de diferentes disciplinas: niños, adolescentes,
            adultos, parejas, especializaciones, psiquiatras, psicopedagogos, neuropsicólogos y
            muchos más. Pueden trabajar de manera virtual o presencial.
          </p>
        </div>
        <!-- end about -->
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #about -->

<!-- begin #team -->
<div id="team" class="content" data-scrollview="true">
  <!-- begin container -->
  <div class="container">
    <h2 class="content-title">Consultorios</h2>
    <p class="content-desc">
      "En nuestro espacio, proporcionamos ambientes especialmente diseñados para satisfacer las
      necesidades de profesionales en búsqueda de consultorios listos para su uso. Ofrecemos áreas
      amplias y versátiles, equipadas con tecnología de vanguardia y mobiliario ergonómico,
      asegurando un entorno óptimo para la atención de sus pacientes. Nuestras instalaciones
      promueven la comodidad, la privacidad y la funcionalidad, brindando un ambiente propicio para
      el desarrollo de su práctica profesional. Contáctenos para conocer más sobre nuestras opciones
      de alquiler adaptadas a sus requerimientos. Email: decires.psicologia@gmail.com, Telefono: 11 4069-8762"
    </p>
    <!-- begin row -->
    <div class="row">
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <!-- begin team -->
        <div class="team">
          <div class="image" data-animation="true" data-animation-type="flipInX">
            <img src="/static/assets/img/user/user-1.jpg" alt="Ryan Teller" />
          </div>
          <div class="info">
            <h3 class="name"></h3>
            <div class="title text-primary"></div>
            <p></p>
          </div>
        </div>
        <!-- end team -->
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <!-- begin team -->
        <div class="team">
          <div class="image" data-animation="true" data-animation-type="flipInX">
            <img src="/static/assets/img/user/user-2.jpg" alt="Jonny Cash" />
          </div>
          <div class="info">
            <h3 class="name"></h3>
            <div class="title text-primary"></div>
            <p></p>
          </div>
        </div>
        <!-- end team -->
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <!-- begin team -->
        <div class="team">
          <div class="image" data-animation="true" data-animation-type="flipInX">
            <img src="/static/assets/img/user/user-3.jpg" alt="Mia Donovan" />
          </div>
          <div class="info">
            <h3 class="name"></h3>
            <div class="title text-primary"></div>
            <p></p>
          </div>
        </div>
        <!-- end team -->
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #team -->



<!-- beign #service -->
<div id="service" class="content" data-scrollview="true">
  <!-- begin container -->
  <div class="container">
    <h2 class="content-title">Nuestros Servicios</h2>
    <!-- begin row -->
    <div class="row">
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <div class="service">
          <div class="icon" data-animation="true" data-animation-type="bounceIn">
            <i class="fa fa-cog"></i>
          </div>
          <div class="info">
            <h4 class="title">Formación en psicoanálisis</h4>
            <p class="desc">
              Capacitamos de manera permanente a profesionales psi que recien inician con su
              profesión como aquellos profesionales que deseen continuar con la formación. Contamos
              con distintos niveles. La formación incluye la supervisión a través de nuestro
              prestigioso equipo docente de amplia trayectoria. El profesional no está solo, somos
              un equipo.
            </p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <div class="service">
          <div class="icon" data-animation="true" data-animation-type="bounceIn">
            <i class="fa fa-paint-brush"></i>
          </div>
          <div class="info">
            <h4 class="title">Talleres</h4>
            <p class="desc">
              La institución ofrece una gama de talleres virtuales que abordan de manera integral temas fundamentales en el ámbito de la salud mental.
              Estos talleres, cuidadosamente diseñados, reflejan el compromiso de la institución con la formación continua y el desarrollo profesional en el campo de la salud mental, proporcionando recursos valiosos para aquellos que buscan mejorar sus habilidades y conocimientos en el ejercicio clínico.
            </p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <div class="service">
          <div class="icon" data-animation="true" data-animation-type="bounceIn">
            <i class="fa fa-file"></i>
          </div>
          <div class="info">
            <h4 class="title">Consultorios en alquiler</h4>
            <p class="desc">
              contamos con consultorios debidamente habilitados por el Gobierno de la Ciudad de Buenos Aires y el Ministerio de Salud Pública, Estamos dedicados a ofrecer servicios de salud de excelencia en un entorno seguro y regulado para el beneficio de toda nuestra comunidad. Estamos dedicados a ofrecer servicios de salud de excelencia en un entorno seguro y regulado para el beneficio de toda nuestra comunidad.
            </p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <div class="service">
          <div class="icon" data-animation="true" data-animation-type="bounceIn">
            <i class="fa fa-code"></i>
          </div>
          <div class="info">
            <h4 class="title">Contacto</h4>
            <p class="desc">
              Para agilizar la gran demanda que tenemos, el paciente ubicará al profesional que más
              le resulte de su interés, por cercanía, por virtualidad, tipo de tratamiento, por
              diferentes disciplinas, variedad de aranceles, entre otras cosas. Convocamos a
              profesionales de todo el país,así el paciente podrá atenderse de forma presencial por
              zonas. Es sencillo, contactas al profesional, coordinan horarios y honorarios. Sin
              lista de espera
            </p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <div class="service">
          <div class="icon" data-animation="true" data-animation-type="bounceIn">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <div class="info">
            <h4 class="title">Supervisión</h4>
            <p class="desc">
              Muchas veces escuchamos que la clínica es solitaria, por tal motivo, la supervision grupal ( pequeños grupos), es un pilar importante de la formación del analista. Freud propone un trípode que sostiene la formación del quehacer del analista, análisis personal, grupo de estudio y supervisión clínica. La experiencia demuestra de lo enriquecedor , prudente, necesario que resulta la supervision. En el grupo, el profesional expone sus inquietudes, dificultades, lo que se le obstaculiza en la clínica. 
            </p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-12">
        <div class="service">
          <div class="icon" data-animation="true" data-animation-type="bounceIn">
            <i class="fa fa-heart"></i>
          </div>
          <div class="info">
            <h4 class="title">Talleres y seminarios</h4>
            <p class="desc">
              Te invitamos a participar, reflexionar e interrogarnos sobre nuestro trabajo.
            </p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #about -->

<!-- begin #client -->
<div id="client" class="content has-bg bg-black-darker" data-scrollview="true">
  <!-- begin content-bg -->
  <div
    class="content-bg"
    style="background-image: url(/static/assets/decires_img/portada_png.png); opacity: 0.4"
    data-paroller-factor="0.5"
    data-paroller-factor-md="0.01"
    data-paroller-factor-xs="0.01"
  ></div>
  <!-- end content-bg -->
  <!-- begin container -->
  <div class="container" data-animation="true" data-animation-type="fadeInUp">
    <h2 class="content-title">Testimonios</h2>
    <!-- begin carousel -->
    <div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
      <!-- begin carousel-inner -->
      <div class="carousel-inner text-center">
        <!-- begin item -->
        <div class="carousel-item active">
          <blockquote>
            <i class="fa fa-quote-left"></i>
            Ya recomendé Decires a varias personas, es un gran espacio para comenzar o retomar
            terapia. La entrevista de admisión es muy respetuosa, Thelma es una profesional
            impecable. La derivación es muy rápida y en mi caso me encuentro muy conforme y contenta
            con la profesional que me asignaron. Los bonos son realmente muy accesibles para los
            tiempos que corren, uno siempre puede elegir pagar más de acuerdo a sus posibilidades.
            Sin dudas un gran espacio para alojar el motivo de consulta que cada cual tenga y
            trabajarlo desde un encuadre ético y profesional.
            <i class="fa fa-quote-right"></i>
          </blockquote>
          <div class="name">— <span class="text-primary">Mailen R</span></div>
        </div>
        <!-- end item -->
        <!-- begin item -->
        <div class="carousel-item">
          <blockquote>
            <i class="fa fa-quote-left"></i>
            Muy buena experiencia. Rápida atención para la admisión y la derivación a una
            profesional con muy buen trato desde lo humano, que respeta horarios y también los
            adapta ante eventualidades.
            <i class="fa fa-quote-right"></i>
          </blockquote>
          <div class="name">— <span class="text-primary">Ana M</span></div>
        </div>
        <!-- end item -->
        <!-- begin item -->
        <div class="carousel-item">
          <blockquote>
            <i class="fa fa-quote-left"></i>
            Me empecé a atender hace relativamente poco, pero la atención fue muy buena, me
            orientaron con una psicóloga que creo fue la adecuada, lo recomiendo si queres empezar a
            hacer terapia. ❤️
            <i class="fa fa-quote-right"></i>
          </blockquote>
          <div class="name">— <span class="text-primary">Candela R</span></div>
        </div>
        <!-- end item -->
      </div>
      <!-- end carousel-inner -->
      <!-- begin carousel-indicators -->
      <ol class="carousel-indicators m-b-0">
        <li data-target="#testimonials" data-slide-to="0" class="active"></li>
        <li data-target="#testimonials" data-slide-to="1" class=""></li>
        <li data-target="#testimonials" data-slide-to="2" class=""></li>
      </ol>
      <!-- end carousel-indicators -->
    </div>
    <!-- end carousel -->
  </div>
  <!-- end containter -->
</div>
<!-- end #client -->
