<!-- begin #footer -->
<div id="footer" class="footer bg-white">
  <div class="container" style="color: black">
    <div class="footer-brand" style="color: black">
      <img
        class="img-fluid"
        width="400"
        height="400"
        src="/static/assets/img/brand/logos_decires/red-psi-decires.png"
      />
    </div>
    <p>&copy; Copyright {{ site_name }} {{ year }}</p>
    <p class="social-list">
      <a href="#" class="text-dark"><i class="fab fa-facebook-f fa-fw"></i></a>
      <a href="#" class="text-dark"><i class="fab fa-instagram fa-fw"></i></a>
      <a href="#" class="text-dark"><i class="fab fa-twitter fa-fw"></i></a>
      <a href="#" class="text-dark"><i class="fab fa-google-plus-g fa-fw"></i></a>
      <a href="#" class="text-dark"><i class="fab fa-dribbble fa-fw"></i></a>
    </p>
  </div>
</div>
<!-- end #footer -->
